# college-football: a college football scraping Python library
This is a quick demonstration of my project, **college-football**. It is a work in progress, but currently supports gathering data about individual college football players.

This project draws upon data provided by [Sports Reference LLC]('https://www.sports-reference.com'). It uses the **requests** and **BeautifulSoup** libraries to query the website and **pandas** to create data tables.

Future work will involve structuring the repository properly for package distribution through pip, as well as creating more robust error checking and correction.

In [1]:
import college_football as cfb

First, we will create a player - let's pick Ian Book (go Irish).

In [2]:
p = cfb.Player('Ia', 'Boo', 'Notre Dam', '2017-2020')

Searching for Ia Boo (Notre Dam, 2017-2020)...
Name changed to Ian Book.
Team changed to Notre Dame, years changed to 2016-2020.
Found Ian Book (Notre Dame, 2016-2020).

Oops! We typed in some fields wrong (actually all fields). **college-football** is flexible and can utilize Sports Reference's search function to find the best fit for us and correct our parameters.

Now that we've got our player object, we can retrieve some data! Let's get some passing summary information for Ian.

In [3]:
p.get_passing_summary()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0              *2017         Notre Dame                Ind                 SO
1              *2018         Notre Dame                Ind                 JR
2              *2019         Notre Dame                Ind                 SR
3              *2020         Notre Dame                ACC                 SR
4             Career         Notre Dame                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Passing                              \
                 Pos                  G     Cmp   Att   Pct   Yds  Y/A AY/A
0                 QB               10.0      46    75  61.3   456  6.1  4.7
1                 QB               10.0     214   314  68.2  2628  8.4  8.6
2                 QB               13.0     240   399  60.2  3034  7.6  8.6
3                 QB               12.0     228   353  64.6  2830  8.0  8.5
4                  0                0.0     728  1141  63.8  8948  7.8  8.3


   TD Int   Rate
0   4   4  119.3
1  19   7  154.0
2  34   6  149.1
3  15   3  144.3
4  72  20  147.0

**college-football** currently supports all possible summary tables given by Sports Reference. These are listed below:
- **Passing**: `get_passing_summary()`
- **Rushing/Receiving**: `get_rushing_receiving_summary()`
- **Punting/Kicking**: `get_punting_kicking_summary()`
- **Returns**: `get_return_summary()`
- **Defense**: `get_defense_summary()`
- **Scoring**: `get_scoring_summary()`

Attempting to access tables with no records will result in an exception. Ian does not have any kickoff or punt returns, so calling this method will throw an error.

In [4]:
p.get_return_summary()

Exception: No return stats available for Ian Book.

In order to show all of the tables at once, we need a special player. Julian Edelman was an incredibly versatile quarterback at Kent State and has entries in each of these tables.

In [5]:
p2 = cfb.Player('Julian', 'Edelman', 'Kent State', '2006-2008')

Searching for Julian Edelman (Kent State, 2006-2008)...
Found Julian Edelman (Kent State, 2006-2008).

In [6]:
p2.get_rushing_receiving_summary()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0               2006         Kent State                MAC                 SO
1               2007         Kent State                MAC                 JR
2               2008         Kent State                MAC                 SR
3             Career         Kent State                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Rushing                Receiving  \
                 Pos                  G     Att   Yds  Avg  TD       Rec
0                 QB               11.0     169   658  3.9   7       0.0
1                 QB                8.0     118   455  3.9   2       0.0
2                 QB               12.0     215  1370  6.4  13       1.0
3                  0                0.0     502  2483  4.9  22       1.0

                   Scrimmage
    Yds   Avg   TD     Plays   Yds  Avg  TD
0   0.0   0.0  0.0       169   658  3.9   7
1   0.0   0.0  0.0       118   455  3.9   2
2  11.0  11.0  0.0       216  1381  6.4  13
3  11.0  11.0  0.0       503  2494  5.0  22

In [7]:
p2.get_punting_kicking_summary()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0               2006         Kent State                MAC                 SO
1               2007         Kent State                MAC                 JR
2               2008         Kent State                MAC                 SR
3             Career         Kent State                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Punting              Kicking       \
                 Pos                  G   Punts    Yds   Avg     XPM  XPA
0                 QB               11.0     4.0  147.0  36.8     0.0  0.0
1                 QB                8.0     0.0    0.0   0.0     0.0  0.0
2                 QB               12.0     4.0  157.0  39.3     0.0  0.0
3                  0                0.0     8.0  304.0  38.0     0.0  0.0


   XP%  FGM  FGA  FG%  Pts
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0

In [8]:
p2.get_return_summary()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0               2006         Kent State                MAC                 SO
1               2007         Kent State                MAC                 JR
2               2008         Kent State                MAC                 SR
3             Career         Kent State                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Punt Ret                 Kick Ret  \
                 Pos                  G      Ret   Yds  Avg   TD      Ret
0                 QB               11.0      0.0   0.0  0.0  0.0      0.0
1                 QB                8.0      0.0   0.0  0.0  0.0      0.0
2                 QB               12.0      6.0  25.0  4.2  0.0      0.0
3                  0                0.0      6.0  25.0  4.2  0.0      0.0


   Yds  Avg   TD
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0

In [9]:
p2.get_defense_summary()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0               2006         Kent State                MAC                 SO
1               2007         Kent State                MAC                 JR
2               2008         Kent State                MAC                 SR
3             Career         Kent State                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Tackles                     Def Int  \
                 Pos                  G    Solo  Ast  Tot Loss   Sk     Int
0                 QB               11.0     1.0  0.0  1.0  0.0  0.0     0.0
1                 QB                8.0     0.0  0.0  0.0  0.0  0.0     0.0
2                 QB               12.0     1.0  0.0  1.0  0.0  0.0     0.0
3                  0                0.0     2.0  0.0  2.0  0.0  0.0     0.0

                      Fumbles
   Yds  Avg   TD   PD      FR  Yds   TD   FF
0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0

In [10]:
p2.get_scoring_summary()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0               2006         Kent State                MAC                 SO
1               2007         Kent State                MAC                 JR
2               2008         Kent State                MAC                 SR
3             Career         Kent State                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Touchdowns                           \
                 Pos                  G       Rush  Rec  Int   FR   PR   KR
0                 QB               11.0          7  0.0  0.0  0.0  0.0  0.0
1                 QB                8.0          2  0.0  0.0  0.0  0.0  0.0
2                 QB               12.0         13  0.0  0.0  0.0  0.0  0.0
3                  0                0.0         22  0.0  0.0  0.0  0.0  0.0

           Kicking      Unnamed: 16_level_0 Unnamed: 17_level_0  \
   Oth Tot     XPM  FGM                 2PM                Sfty
0  0.0   7     0.0  0.0                 0.0                 0.0
1  0.0   2     0.0  0.0                 0.0                 0.0
2  0.0  13     0.0  0.0                 1.0                 0.0
3  0.0  22     0.0  0.0                 1.0                 0.0

  Unnamed: 18_level_0
                  Pts
0                  42
1                  12
2                  80
3                 134

We can also view game logs and season splits for specific years. Let's try this with our jack of all trades, Mr. Edelman.

In [11]:
p2.get_game_logs(2008)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk               Date             School
0                 1.0         2008-08-30         Kent State
1                 2.0         2008-09-06         Kent State
2                 3.0         2008-09-13         Kent State
3                 4.0         2008-09-20         Kent State
4                 5.0         2008-09-27         Kent State
5                 6.0         2008-10-04         Kent State
6                 7.0         2008-10-11         Kent State
7                 8.0         2008-10-25         Kent State
8                 9.0         2008-11-01         Kent State
9                10.0         2008-11-12         Kent State
10               11.0         2008-11-18         Kent State
11               12.0         2008-11-28         Kent State
12                0.0           12 Games                  0

   Unnamed: 3_level_0   Unnamed: 4_level_0 Unnamed: 5_level_0 Passing       \
   Unnamed: 3_level_1             Opponent Unnamed: 5_level_1     Cmp  Att
0                   0       Boston College                  L      10   14
1                   @           Iowa State                  L      10   22
2                   0       Delaware State                  W      10   20
3                   @            Louisiana                  L      10   20
4                   @           Ball State                  L      13   24
5                   0                Akron                  L      17   31
6                   0                 Ohio                  L      15   25
7                   @           Miami (OH)                  W      10   17
8                   @  Bowling Green State                  L      16   32
9                   0               Temple                  W      18   26
10                  0    Northern Illinois                  L      11   21
11                  @              Buffalo                  W      13   23
12                  0                    0                  0     153  275

                ... Punt Ret    Tackles                     Punting
     Pct   Yds  ...      Avg TD    Solo  Ast  Tot Loss   Sk   Punts  Yds   Avg
0   71.4   123  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       1   44  44.0
1   45.5   171  ...      0.0  0     1.0  0.0  1.0  0.0  0.0       0    0   0.0
2   50.0   113  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
3   50.0    81  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
4   54.2   177  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
5   54.8   157  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       1   38  38.0
6   60.0   200  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
7   58.8   107  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
8   50.0   219  ...      0.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
9   69.2   232  ...      4.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
10  52.4   126  ...     -3.0  0     0.0  0.0  0.0  0.0  0.0       0    0   0.0
11  56.5   114  ...      8.0  0     0.0  0.0  0.0  0.0  0.0       2   75  37.5
12  55.6  1820  ...      4.2  0     1.0  0.0  1.0  0.0  0.0       4  157  39.3

[13 rows x 33 columns]

In [12]:
p2.get_splits(2007)

   Unnamed: 0_level_0   Unnamed: 1_level_0  Passing                    \
                Split                Value      Cmp      Att      Pct
0               Total                    0       98      189     51.9
1                   0                    0  Passing  Passing  Passing
2               Split                Value      Cmp      Att      Pct
3               Place                 Home       45       79     57.0
4                   0                 Road       53      110     48.2
5                   0                    0  Passing  Passing  Passing
6               Split                Value      Cmp      Att      Pct
7              Result                  Win       47       84     56.0
8                   0                 Loss       51      105     48.6
9                   0                    0  Passing  Passing  Passing
10              Split                Value      Cmp      Att      Pct
11              Month               August       17       26     65.4
12                  0            September       50      107     46.7
13                  0              October       31       56     55.4
14                  0                    0  Passing  Passing  Passing
15              Split                Value      Cmp      Att      Pct
16                Day             Thursday       17       26     65.4
17                  0             Saturday       81      163     49.7
18                  0                    0  Passing  Passing  Passing
19              Split                Value      Cmp      Att      Pct
20         Conference               Big 12       17       26     65.4
21                  0              Big Ten        4       10     40.0
22                  0                  MAC       47       92     51.1
23                  0                  SEC       12       28     42.9
24                  0            Non-Major       18       33     54.5
25                  0                    0  Passing  Passing  Passing
26              Split                Value      Cmp      Att      Pct
27           Opponent                Akron        8       21     38.1
28                  0  Bowling Green State        8       13     61.5
29                  0       Delaware State       18       33     54.5
30                  0           Iowa State       17       26     65.4
31                  0             Kentucky       12       28     42.9
32                  0           Miami (OH)       19       33     57.6
33                  0                 Ohio       12       25     48.0
34                  0           Ohio State        4       10     40.0

                                        Rushing                             \
        Yds       TD      Int     Rate      Att      Yds      Avg       TD
0      1318        7        9    113.1      118      455      3.9        2
1   Passing  Passing  Passing  Passing  Rushing  Rushing  Rushing  Rushing
2       Yds       TD      Int     Rate      Att      Yds      Avg       TD
3       655        4        3    135.7       43      183      4.3        1
4       663        3        6     96.9       75      272      3.6        1
5   Passing  Passing  Passing  Passing  Rushing  Rushing  Rushing  Rushing
6       Yds       TD      Int     Rate      Att      Yds      Avg       TD
7       597        5        3    128.2       27       65      2.4        1
8       721        2        6    101.1       91      390      4.3        1
9   Passing  Passing  Passing  Passing  Rushing  Rushing  Rushing  Rushing
10      Yds       TD      Int     Rate      Att      Yds      Avg       TD
11      161        1        2    114.7       18       75      4.2        1
12      720        5        4    111.2       53      190      3.6        0
13      437        1        3    116.1       47      190      4.0        1
14  Passing  Passing  Passing  Passing  Rushing  Rushing  Rushing  Rushing
15      Yds       TD      Int     Rate      Att      Yds      Avg       TD
16      161        1        2    114.7       18       75      4.2        1
17     1157        6        7    112.9      100      380      3.8        1
18  Passing  Passing  Passing  Passing  Rushing  Rushing  Rushing  Rushing
19      Yds       TD      Int     Rate      Att      Yds      Avg       TD
20      161        1        2    114.7       18       75      4.2        1
21       49        0        1     61.2        8       -7     -0.9        0
22      712        2        4    114.6       64      266      4.2        1
23      129        1        1     86.2       24      135      5.6        0
24      267        3        1    146.4        4      -14     -3.5        0
25  Passing  Passing  Passing  Passing  Rushing  Rushing  Rushing  Rushing
26      Yds       TD      Int     Rate      Att      Yds      Avg       TD
27      155        0        2     81.0       20       65      3.3        0
28      128        1        0    169.6       17      104      6.1        1
29      267        3        1    146.4        4      -14     -3.5        0
30      161        1        2    114.7       18       75      4.2        1
31      129        1        1     86.2       24      135      5.6        0
32      260        0        2    111.6       22       93      4.2        0
33      169        1        0    118.0        5        4      0.8        0
34       49        0        1     61.2        8       -7     -0.9        0

    Punting
      Punts      Yds      Avg
0         1       24     24.0
1   Punting  Punting  Punting
2     Punts      Yds      Avg
3         0        0        0
4         1       24     24.0
5   Punting  Punting  Punting
6     Punts      Yds      Avg
7         0        0        0
8         1       24     24.0
9   Punting  Punting  Punting
10    Punts      Yds      Avg
11        0        0        0
12        0        0        0
13        1       24     24.0
14  Punting  Punting  Punting
15    Punts      Yds      Avg
16        0        0        0
17        1       24     24.0
18  Punting  Punting  Punting
19    Punts      Yds      Avg
20        0        0        0
21        1       24     24.0
22        0        0        0
23        0        0        0
24        0        0        0
25  Punting  Punting  Punting
26    Punts      Yds      Avg
27        0        0        0
28        0        0        0
29        0        0        0
30        0        0        0
31        0        0        0
32        0        0        0
33        0        0        0
34        1       24     24.0

If we try to use a year outside of the 2006-2008 seasons that he played in, **college-football** will raise an exception.

In [13]:
p2.get_splits(2009)

Exception: No splits available for 2009.

**college-football** is tailored for use in interactive formats like **ipython** and in Jupyter notebooks like this one. These exceptions may be frustrating in traditional scripts, but ideally they help guide the user to find the correct name, team, and years for their intended use.

I'm thinking of a player named John Smith. He played recently, so let's try this:

In [19]:
p3 = cfb.Player('John', 'Smith', 'Georgia', '2012')

Searching for John Smith (Georgia, 2012)...

Exception: Player not found. Please make sure that name, school, and years are correct.

I guess we got that wrong. Unfortunately John Smith is a pretty ambiguous name and neither the team or the year match anything from Sports Reference. How about if I knew he played for San Jose State?

In [22]:
p3 = cfb.Player('John', 'Smith', 'San Jose State', '2012')

Searching for John Smith (San Jose State, 2012)...
Year does not match any results. Choosing match by name and team.
Years changed to 2005-2006.
Found John Smith (San Jose State, 2005-2006).

There's still some bugs to be worked out. Two notable issues occur in the following situations:
- Player page does not contain number/year icon to reset school name and years played (this comes up for less well-documented players from many years ago)
- Cannot access game logs and splits for years that a transferred player was on a previous team

Here are situations that cause this:

In [23]:
p4 = cfb.Player('John', 'Smith', 'Colgate', '1970')

Searching for John Smith (Colgate, 1970)...
Year does not match any results. Choosing match by name and team.

TypeError: 'NoneType' object is not subscriptable

Justin Fields played for Georgia in 2018 before transferring to Ohio State in 2019. While **college-football** can access the summary information from his career at both schools, it cannot currently retrieve logs and splits from his year at UGA. This is functionality I intend to add in future versions.

In [26]:
p5 = cfb.Player('Justin', 'Fields', 'Ohio State', '2018-2020')
p5.get_passing_summary()

Searching for Justin Fields (Ohio State, 2018-2020)...
Years changed to 2019-2020.
Found Justin Fields (Ohio State, 2019-2020).

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year             School               Conf              Class
0              *2018            Georgia                SEC                 FR
1              *2019         Ohio State            Big Ten                 SO
2              *2020         Ohio State            Big Ten                 JR
3             Career            Overall                  0                  0
4                  0            Georgia                  0                  0
5                  0         Ohio State                  0                  0

  Unnamed: 4_level_0 Unnamed: 5_level_0 Passing                              \
                 Pos                  G     Cmp  Att   Pct   Yds  Y/A  AY/A
0                 QB               12.0      27   39  69.2   328  8.4  10.5
1                 QB               14.0     238  354  67.2  3273  9.2  11.2
2                 QB                8.0     158  225  70.2  2100  9.3  10.1
3                  0                0.0     423  618  68.4  5701  9.2  10.7
4                  0                0.0      27   39  69.2   328  8.4  10.5
5                  0                0.0     396  579  68.4  5373  9.3  10.8


   TD Int   Rate
0   4   0  173.7
1  41   3  181.4
2  22   6  175.6
3  67   9  178.8
4   4   0  173.7
5  63   9  179.1

In [27]:
p5.get_game_logs(2019)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk               Date             School
0                 1.0         2019-08-31         Ohio State
1                 2.0         2019-09-07         Ohio State
2                 3.0         2019-09-14         Ohio State
3                 4.0         2019-09-21         Ohio State
4                 5.0         2019-09-28         Ohio State
5                 6.0         2019-10-05         Ohio State
6                 7.0         2019-10-18         Ohio State
7                 8.0         2019-10-26         Ohio State
8                 9.0         2019-11-09         Ohio State
9                10.0         2019-11-16         Ohio State
10               11.0         2019-11-23         Ohio State
11               12.0         2019-11-30         Ohio State
12               13.0         2019-12-07         Ohio State
13               14.0         2019-12-28         Ohio State
14                0.0           14 Games                  0

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Passing       \
   Unnamed: 3_level_1           Opponent Unnamed: 5_level_1     Cmp  Att
0                   0   Florida Atlantic                  W      18   25
1                   0         Cincinnati                  W      20   25
2                   @            Indiana                  W      14   24
3                   0         Miami (OH)                  W      14   21
4                   @           Nebraska                  W      15   21
5                   0     Michigan State                  W      17   25
6                   @       Northwestern                  W      18   23
7                   0          Wisconsin                  W      12   22
8                   0           Maryland                  W      16   25
9                   @            Rutgers                  W      15   19
10                  0         Penn State                  W      16   22
11                  @           Michigan                  W      14   25
12                  N          Wisconsin                  W      19   31
13                  N           Clemson*                  L      30   46
14                  0                  0                  0     238  354

                              Rushing
     Pct   Yds  TD Int   Rate     Att  Yds   Avg  TD
0   72.0   234   4   0  203.4      12   61   5.1   1
1   80.0   224   2   0  181.7       9   42   4.7   2
2   58.3   199   3   0  169.2       4   11   2.8   1
3   66.7   223   4   0  218.7       9   36   4.0   2
4   71.4   212   3   0  203.4      12   72   6.0   1
5   68.0   206   2   1  155.6      11   61   5.5   1
6   78.3   194   4   0  206.5       6    8   1.3   0
7   54.5   167   2   0  148.3      13   28   2.2   1
8   64.0   200   3   0  170.8       5   28   5.6   1
9   78.9   305   4   0  283.3       3   30  10.0   0
10  72.7   188   2   0  174.5      21   68   3.2   0
11  56.0   302   4   0  210.3       6   25   4.2   0
12  61.3   299   3   0  174.2      12    1   0.1   0
13  65.2   320   1   2  122.1      14   13   0.9   0
14  67.2  3273  41   3  181.4     137  484   3.5  10

In [28]:
p5.get_game_logs(2018)

Exception: No game logs available for 2018.

Congrats! You made it this far and hopefully you aren't too bored. If you're looking to analyze college football information in Python, I hope this can help.